@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .bannerIcon{
        @apply w-16 h-16 bg-black bg-opacity-25 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
    }
    .resumeLi {
    @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
         }
.bgOpacity {
@apply bg-black bg-opacity-40;
                  }
    .contactInput{
        @apply w-full h-12 rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300
    }
.contactTextArea{
    @apply w-full rounded-lg border-b-[1px] border-b-gray-600 bg-[#191b1e] text-lightText px-4 py-2 active:outline-none focus-visible:outline-designColor outline-none focus-visible:border-b-transparent duration-300 resize-none
}
}

.active {
    color: white;
}
.scrollbar-hide::-webkit-scrollbar{
    display: none;
}
.gap-6 {
    gap: 0.5rem;
}
.img564{
height: auto;
}
.wfit{
    object-fit: cover;
}
.ownwidth{
    
}
.from-bodyColor {
    box-shadow: 0px 7px 6px 0px black;
    --tw-gradient-from: #212428;
    --tw-gradient-to: rgb(33 36 40 / 0);
    --tw-gradient-stops: #422131, #303a4f;
}
.flex906{
    display: flex;
    flex-direction: row;
    width: 100% !important;
}
.h-64 {
    height: auto;
}
.tborder23 {
    border: none !important;
}
.tborder23:hover {
border: none !important;
}
@keyframes popupShow {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  .flex89{
    display: flex;
  }